body{
    background-color: #9fcdff;
}
#login{
    width: 100%;
    margin-bottom: 10px;
}
footer{
    padding: 10px;
    color: #9d9d9d;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
}
#box{
    padding: 20px;
    margin: 0 auto;
    background-color: #80bdff;
    width: 40%;
}
#login-box h3{
    text-align: center;
    margin-bottom: 25px;
    color: black;
    font-weight: bold;
}
input{
    margin-bottom: 15px;
}
a{
    color: black;
}
a:visited, a:link, a:active{
    text-decoration: none;
    color: black;
}
#registration a:hover{
    color: #7092be;
}
#forgotPassword{
    float: right;
}
img{
    vertical-align: middle;
    margin-bottom: 40px;
}
.logo{
    text-align: center;
    height: auto;
    padding-top: 8%;
}
#registration{
    text-align: center;
    margin-top: 20px;
}
#registration a span{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
