<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>        
<script src="../js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="../css/main.css"/>
<script src="../js/main.js" type="text/javascript"></script>
<link rel="icon" href="../img/virtual_receptionist_icon.ico" type="image/x-icon"/>
