<div class="modal fade" id="modal_delete_billingitem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Figyelmeztetés!</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">Biztosan törli a kijelölt tételt?</div>
            <div class="modal-footer">
                <button type="button" id="delete_billingitem_modal" class="btn btn-danger" data-dismiss="modal" id="delete_button_modal">OK</button>
            </div>
        </div>
    </div>
</div>
