<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">Virtual Receptionist adminisztrációs felület</p>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Főmenü</a></li>
            <li><a href="#">Szálláshely adatainak beállítása</a></li>
            <li><a href="#">Felhasználói fiók készítése</a></li>
            <li><a href="#">Szobák beállítása</a></li>
            <li><a href="#">Számlázási tételek beállítása</a></li>
            <li><a href="#">Naptár</a></li>
            <li><a href="#">Naplózás</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="../web/logout.php">Kijelentkezés</a></li>
        </ul>
    </div>
</nav>
