<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2>Virtual Receptionist adminisztrációs felület</h2>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Főmenü</a></li>
            <li><a href="#">Szálláshely adatainak beállítása</a></li>
            <li><a href="#">Felhasználói fiók készítése</a></li>
            <li><a href="#">Szobák beállítása</a></li>
            <li><a href="#">Számlázási tételek beállítása</a></li>
            <li><a href="#">Naptár</a></li>
            <li><a href="#">Naplózás</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="../web/logout.php"><span class="glyphicon glyphicon-log-in"></span>Kilépés</a></li>
        </ul>
    </div>
</nav>
