<h3 class="text-center">Regisztráció a<br>Virtual Receptionist rendszerbe</h3>
<form method='post' class="box form-group" id='acc_data_reg'>
    <input type='text' name='accomodationNameReg' id='accomodationNameReg' class='form-control' placeholder='Szálláshely neve' required/>
    <input type='text' name='companyNameReg' id='companyNameReg' class='form-control' placeholder='Cégnév' required/>
    <input type='text' name='contactReg' id='contactReg' class='form-control' placeholder='Kapcsolattartó' required/>
    <input type='text' name='VATNumberReg' id='VATNumberReg' class='form-control' placeholder='Adószám' required/>
    <input type='text' name='headquartersReg' id='headquartersReg' class='form-control' placeholder='Székhely' required/>
    <input type='text' name='siteReg' id='siteReg' class='form-control' placeholder='Telephely' required/>
    <input type='text' name='phoneNumberReg' id='phoneNumberReg' class='form-control' placeholder='Telefonszám' required/>
    <input type='text' name='emailAddressReg' id='emailAddressReg' class='form-control' placeholder='E-mail cím' required/>
    <br>
    <input type="text" name='accomodationIDReg' id="accomodationIDReg" class="form-control" placeholder="Szálláshely azonosító"/>
    <input type="password" name='passwordReg' id="passwordReg" class="form-control" placeholder="Jelszó"/>
    <input type="password" name='passwordConfirmReg' id="passwordConfirmReg" class="form-control" placeholder="Jelszó megerősítése"/>


    <input type='submit' name='reg_accomodation_to_system' id='reg_accomodation_to_system' class='btn btn-primary form-control' value='Regisztráció'/>
</form>
